/*.picture {
	background-image: url("./photos//BlackLamb.jpg");
}*/
h1 {
	color: white;
}

p {
	color: white;
}

body {
	background-image: url("./photos//BlackLamb.jpg");
	text-align: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

img {
	width: 100%;
	height: auto;
}
